---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Infografik from '../components/Infografik.astro';
import Omos_sektion from '../components/Omos_sektion.astro';
import Click_sektion from '../components/Click_sektion.astro';
import Some_sektion from '../components/Some_sektion.astro';
---
<MainLayout title="Forside">
  <!-- Hero-Unit -->
  <section class="relative">
    <!-- Hero-Billede -->
    <div class="bg-cover bg-center">
      <img src="/hero_billede.webp" alt="blomster der hænger nedaf" class="w-full h-auto">
    </div>

    <!-- Tekst ovenpå billedet -->
    <div class="absolute inset-0 flex items-center">
      <div class="container mx-auto text-center laptop:text-left laptop:mt-48">
        <div class="text-wine">
          <h1 class="font-montserrat mobile:text-4xl font-bold laptop:text-6xl">
            Blomsterbutikken Just
          </h1>
          <h2 class="font-shadowsintolight mobile:text-2xl laptop:text-4xl mt-4">
            Smukt, bæredygtigt og helt unikt
          </h2>
        </div>
      </div>
    </div>
  </section>
  <Infografik></Infografik>
  <h2>Populære Buketter</h2>
  <Omos_sektion></Omos_sektion>
  <Click_sektion></Click_sektion>
  <Some_sektion></Some_sektion>
</MainLayout>
