---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Anbefaling from "../components/Anbefaling.astro";
import Card from "../components/Card.astro";
---

<MainLayout title="Listview">
<section class="bg-rose text-white text-left relative w-full h-[400px] p-4 mobile:p-6 tablet:p-8 laptop:p-16">
    <h1 class="font-bold mobile:text-4xl laptop:text-6xl font-montserrat mb-4 pt-16">Buketter</h1>
    <p class="mobile:text-lg laptop:text-xl font-montserrat">Udforsk vores udvalg af håndbundne buketter, skabt med kærlighed og øje for detaljer. Uanset om du søger noget enkelt og elegant eller farverigt og iøjnefaldende, har vi buketter, der passer til enhver smag og anledning.</p>
</section>

<section class="grid grid-cols-1 tablet:grid-cols-2 laptop:grid-cols-3 p-4 mobile:p-6 tablet:p-8 laptop:p-16 gap-6">
  <Card 
  title="Lys Luftig Buket (Høj)" 
  description="En elegant og let buket i lyse farver, der skaber et luftigt og indbydende udtryk." 
  price="349">	
    <img src="/lysluftigbuket.webp" alt="Buket billede">
  </Card>


  <Card 
  title="Stor Farverig Buket (Høj)" 
  description="En imponerende høj buket fyldt med farverige blomster, der lyser rummet op" 
  price="499">
	<img src="/storfarverigbuket.webp" alt="Buket billede">
  </Card>

  <Card 
  title="Stor Farverig Buket (Lav)" 
  description="En lav og bred buket med masser af farver, perfekt som blikfang på bordet." 
  price="399">
	<img src="/lavfarverigbuket.webp" alt="Buket billede">
  </Card>

    <Card 
  title="Lys Luftig Buket (Høj)" 
  description="En elegant og let buket i lyse farver, der skaber et luftigt og indbydende udtryk." 
  price="349">	
    <img src="/lysluftigbuket.webp" alt="Buket billede">
  </Card>


  <Card 
  title="Stor Farverig Buket (Høj)" 
  description="En imponerende høj buket fyldt med farverige blomster, der lyser rummet op" 
  price="499">
	<img src="/storfarverigbuket.webp" alt="Buket billede">
  </Card>

  <Card 
  title="Stor Farverig Buket (Lav)" 
  description="En lav og bred buket med masser af farver, perfekt som blikfang på bordet." 
  price="399">
	<img src="/lavfarverigbuket.webp" alt="Buket billede">
  </Card>

    <Card 
  title="Lys Luftig Buket (Høj)" 
  description="En elegant og let buket i lyse farver, der skaber et luftigt og indbydende udtryk." 
  price="349">	
    <img src="/lysluftigbuket.webp" alt="Buket billede">
  </Card>


  <Card 
  title="Stor Farverig Buket (Høj)" 
  description="En imponerende høj buket fyldt med farverige blomster, der lyser rummet op" 
  price="499">
	<img src="/storfarverigbuket.webp" alt="Buket billede">
  </Card>

  <Card 
  title="Stor Farverig Buket (Lav)" 
  description="En lav og bred buket med masser af farver, perfekt som blikfang på bordet." 
  price="399">
	<img src="/lavfarverigbuket.webp" alt="Buket billede">
  </Card>

    <Card 
  title="Lys Luftig Buket (Høj)" 
  description="En elegant og let buket i lyse farver, der skaber et luftigt og indbydende udtryk." 
  price="349">	
    <img src="/lysluftigbuket.webp" alt="Buket billede">
  </Card>


  <Card 
  title="Stor Farverig Buket (Høj)" 
  description="En imponerende høj buket fyldt med farverige blomster, der lyser rummet op" 
  price="499">
	<img src="/storfarverigbuket.webp" alt="Buket billede">
  </Card>

  <Card 
  title="Stor Farverig Buket (Lav)" 
  description="En lav og bred buket med masser af farver, perfekt som blikfang på bordet." 
  price="399">
	<img src="/lavfarverigbuket.webp" alt="Buket billede">
  </Card>
  
  </section>

  </MainLayout>