---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
---

<MainLayout title="Indtast Oplysninger">
  <section class="bg-rose text-white text-left relative w-full h-[400px] p-4 mobile:p-10 tablet:p-8 laptop:p-16">
    <h1 class="text-center font-bold mobile:text-4xl laptop:text-6xl font-montserrat mb-4 pt-8">Indtast Oplysninger</h1>
    <p class="text-center mobile:text-lg laptop:text-xl font-montserrat laptop:mx-52">Indtast dine oplysninger, samt vælg afhentningstidpunkt herunder</p>
  </section>

  <div class="w-full h-screen flex justify-center items-center pt-10">

    <div class="w-full max-w-4xl p-6">

      <!-- Fornavn & Efternavn -->
      <h3 class="text-2xl font-semibold mb-4 text-darkgrey">Navn:</h3>
      <div class="grid grid-cols-2 gap-4 mb-6">
        <input type="text" placeholder="Fornavn" class="p-3 border bg-lightgray border-lightgray rounded-md w-full focus:outline-none focus:ring-2 focus:ring-winedark" required>
        <input type="text" placeholder="Efternavn" class="p-3 border bg-lightgray border-lightgray rounded-md w-full focus:outline-none focus:ring-2 focus:ring-winedark" required>
      </div>

      <!-- Email & tlf -->
      <h3 class="text-2xl font-semibold mb-4 text-darkgrey">Email & Tlf:</h3>
      <div class="grid grid-cols-2 gap-4 mb-6">
        <input type="email" placeholder="eksempel@eksempel.dk" class="p-3 border bg-lightgray border-lightgray rounded-md w-full focus:outline-none focus:ring-2 focus:ring-winedark" required>
        <input type="tel" placeholder="12 34 56 78" class="p-3 border bg-lightgray border-lightgray rounded-md w-full focus:outline-none focus:ring-2 focus:ring-winedark" required>
      </div>

      <!-- Dato & Tidspunkt -->
      <h3 class="text-2xl font-semibold mb-4 text-darkgrey">Vælg Dato og Tidspunkt:</h3>
      <div class="grid grid-cols-2 gap-4 mb-6">
        <input type="date" id="pickup-date" name="pickup-date" min="2024-12-01" max="2024-12-31" class="p-3 border bg-lightgray border-lightgray rounded-md w-full focus:outline-none focus:ring-2 focus:ring-winedark">
        <div class="grid grid-cols-3 gap-4 w-full">
          <button class="bg-winedark text-white p-3 rounded-md focus:outline-none hover:bg-darkgrey">11:00</button>
          <button class="bg-winedark text-white p-3 rounded-md focus:outline-none hover:bg-darkgrey">11:30</button>
          <button class="bg-winedark text-white p-3 rounded-md focus:outline-none hover:bg-darkgrey">12:00</button>
          <button class="bg-winedark text-white p-3 rounded-md focus:outline-none hover:bg-darkgrey">12:30</button>
          <button class="bg-winedark text-white p-3 rounded-md focus:outline-none hover:bg-darkgrey">13:00</button>
          <button class="bg-winedark text-white p-3 rounded-md focus:outline-none hover:bg-darkgrey">13:30</button>
        </div>
      </div>

      <!-- Ekstra Kommentar -->
      <h3 class="text-2xl font-semibold mb-4 text-darkgrey">Tilføj kommentar til din ordre:</h3>
      <textarea placeholder="Tilføj en ekstra kommentar på din ordre..." class="p-3 border bg-lightgray border-lightgray rounded-md w-full h-32 focus:outline-none focus:ring-2 focus:ring-winedark mb-6"></textarea>
 
      <hr class="pb-10">
      <!-- Submit Button -->
       
    <div class="mobile:pb-14 laptop:pb-10 flex flex-col laptop:items-end mobile:items-center laptop:px-0">   <a href="/oplysninger"><Button variant="primary" size="large">FORTSÆT TIL CHECKOUT</Button></a></div></div>
  </div>
</MainLayout>
