---

---

<section class="p-4 mobile:p-6 tablet:p-8 laptop:p-16">

    <h2 class="text-wine text-center mobile:text-3xl laptop:text-5xl font-lora mb-8">
      Hvad vores kunder siger</h2>

  <div class="grid grid-cols-1 tablet:grid-cols-3 gap-6">
  <div class="border-2 border-rose p-6">
    <h3 class="mobile:text-2xl laptop:text-4xl font-lora mb-4 mobile:mb-6">Vivian,</h3>
    <p class="mobile:text-sm laptop:text-base font-montserrat italic">“Vi har ved en bisættelse fået Just tll at stå for bårebuketter og kiste buket.
Vi har sjældent set så smukke buketter som just leverede. Derudover har det været et fantastisk samarbejde, hvor vi blev mødt med stor empati og omsorg.
Vi giver vores bedste anbefaling til Just.”</p>

<img class="w-15 h-15 mx-auto items-center p-5" src="/quote.webp" alt="quote">
  </div>

  <div class="border-2 border-rose p-6">
    <h3 class="mobile:text-2xl laptop:text-4xl font-lora mb-4 mobile:mb-6">Olivia,</h3>
    <p class="mobile:text-sm laptop:text-base font-montserrat italic">"Jeg fik den bedste hjælp, da Mette lavede min brudebuket og hårkrans. Hun tog sig tid til at forstå mine ønsker og stilen, og jeg kunne sende alle de billeder, jeg ville. På dagen var buketten og kransen de smukkeste, jeg nogensinde havde set – helt perfekt!"</p>

<img class="w-15 h-15 mx-auto items-center p-5" src="/quote.webp" alt="quote">
  </div>

  <div class="border-2 border-rose p-6">
    <h3 class="mobile:text-2xl laptop:text-4xl font-lora mb-4 mobile:mb-6">Søs,</h3>
    <p class="mobile:text-sm laptop:text-base font-montserrat italic">"Besøg den skønneste blomsterbutik på Amager! Her står en fantastisk kvinde klar til at skabe de flotteste buketter og tilbyde sjove, farverige planter, der spreder glæde og inspiration."</p>

    <img class="w-15 h-15 mx-auto items-center p-5" src="/quote.webp" alt="quote">
  </div>
  </div>
</section>
