---
const props = Astro.props;
import Button from "../components/Button.astro"
---
<article class="grid grid-cols-1">
  <div>
    <slot/>
  </div>

  <div class="flex flex-col bg-white overflow-hidden">
    <div class="mobile:p-1 laptop:py-4 text-left">
      <h2 class="mobile:text-sm laptop:text-xl text-black font-montserrat">{props.title}</h2>
      <p class="mobile:text-xs laptop:text-base text-black mt-2 font-montserrat font-light">{props.description}</p>
      <p class="mobile:text-xs laptop:text-bas font-bold text-black mt-3 font-montserrat">{props.price} DKK</p>
    </div>

    <!-- Her er ændringen -->
    <div class="flex space-x-4 mt-4 p-0">
      <a href="/singleview"><Button variant="secondary" size="medium">Læs Mere</Button></a>
    </div>
  </div>
</article>