<section class="laptop:grid grid-cols-2 font-montserrat text-white">
   <!-- Tekst -->
    <div class="bg-rose mobile:py-6 laptop:pt-32 mobile:px-4 laptop:px-16">
        <h2 class="mobile:text-2xl laptop:text-5xl font-bold mb-4">Click & Collect</h2>
        <p class="mobile:mb-4 laptop:mb-6">Blomsternes verden er så fuld af muligheder. Alligevel ligner mange af de flotte buketter, vi ser, hinanden. Hos Blomsterbutikken Just får du anderledes og personlige buketter, hvor hver enkelt blomst får lov til at komme til sin ret. Helheden kan være frodig og vild - eller helt enkel og rolig, ligesom ude i naturen.</p>
        <p class="mobile:mb-4 laptop:mb-6">Som blomsterdekoratør har jeg en forkærlighed for det skæve og uperfekte. Og i mine øjne kan en smuk buket både være lille og stor.</p>
        <!-- Knap -->
        <button class="bg-white text-black py-2 px-4 rounded font-bold mt-4 hover:bg-darkgrey">Læs mere</button>
    </div>
     <!-- Billede -->
    <div class="laptop:px-0">
        <img src="/click.webp" alt="Buket blomster" class="w-full h-auto">
    </div>
</section>