---
import Button from "../components/Button.astro";
---
<footer class="bg-gray-900 text-white p-8 bg-darkgrey">
  <div class="px-6 grid grid-cols-1 laptop:grid-cols-5 gap-8">

    
    <div class="laptop:col-span-2 flex items-center mobile:grid grid-cols-1 gap-7">
      <img src="/justlogo.webp" alt="Blomsterbutikken Just" class="w-32">

      <div class="flex flex-col gap-2 pl-4">
      <h3 class="font-montserrat font-bold mobile:text-base laptop:text-xl">BLOMSTERBUTIKKEN JUST</h3>
      <p class="font-shadowsintolight mobile:text-base laptop:text-xl">Smukt, bæredygtigt og helt unikt</p>
      <a href="https://www.google.com/maps?q=Østrigsgade+53,+2300+København+S" target="_blank">
  <p class="font-montserrat underline text-sm pt-3">Østrigsgade 53, 2300 København S</p>
</a>
    </div>
    </div>

    <div>
      <h4 class="mobile:text-sm laptop:text-lg font-semibold mb-2 font-montserrat">Åbningstider</h4>
      <ul class="mobile:text-xs laptop:text-sm space-y-2 font-montserrat">
        <li>Mandag: 10:00 - 17:30</li>
        <li>Tirsdag: 10:00 - 17:30</li>
        <li>Onsdag: Lukket</li>
        <li>Torsdag: 10:00 - 17:30</li>
        <li>Fredag: 10:00 - 18:00</li>
        <li>Lørdag: 10:00 - 14:00</li>
        <li>Søndag: Lukket</li>
      </ul>
    </div>

    <div>
      <h4 class="mobile:text-sm laptop:text-lg font-semibold mb-2 font-montserrat">Kontakt</h4>

      <div class="flex items-center space-x-3 pt-2">
   <a href="tel:+4531267005">
    <img src="/phone.webp" alt="Telefon" class="w-6 h-6">
  </a>
  <a href="tel:+4531267005">
    <p class="text-sm font-montserrat">31 26 70 05</p>
  </a>
      </div>

      <div class="flex items-center space-x-3 pt-3">
   <a href="mailto:just@blomsterkbh.dk">
    <img src="/email.webp" alt="Email" class="w-6 h-6">
  </a>
  <a href="mailto:just@blomsterkbh.dk">
    <p class="text-sm font-montserrat">just@blomsterkbh.dk</p>
  </a>
      </div>
    </div>

    <div>
      <h4 class="mobile:text-sm laptop:text-lg font-semibold mb-2 font-montserrat">Click & Collect</h4>
      <p class="mobile:text-xs laptop:text-sm font-montserrat pb-4">
        Bestil dine blomster nemt med Click & Collect! Vælg dine favoritter online, og afhent dem i butikken, når det passer dig.
      </p>

      <a href="/click_collect"><Button variant="quaternary" size="medium">Bestil med Click & Collect</Button></a>
    </div>
  </div>

  <div class="col-span-5 mt-8 flex justify-end">
    <a href="https://www.instagram.com/blomsterbutikkenjust/" target="" rel="">
        <img src="/instagram.webp" alt="Instagram" class="w-6 h-6 hover:opacity-80">
    </a>
    <a href="https://www.facebook.com/Justsiden2017" target="" rel="">
        <img src="/facebook.webp" alt="Facebook" class="w-6 h-6 hover:opacity-80">
    </a>
  </div>

</footer>