<!-- Dark Grey Banner -->
<div class="bg-darkgrey text-white text-xs py-2 hidden laptop:block">
  <div class="container mx-auto px-4 flex justify-between items-center">
    <p class="flex-1 text-left">Din lokale blomsterforhandler</p>
    <p class="flex-1 text-center border-l border-r border-white px-4 font-semibold">Bæredygtigt & Unikt Udvalg</p>
    <p class="flex-1 text-right"><a href="/click-collect" class="hover:underline">Click & Collect Service</a></p>
  </div>
</div>

<!-- Main Header -->
<header class="bg-white border-b border-rose laptop:p-0">
  <div class="container mx-auto px-4 py-2 flex justify-between items-center">
    <!-- Logo -->
    <a href="/" class="flex items-center">
      <img src="/logo.png" alt="logo_just" class="h-20">
    </a>

    <!-- Desktop Menu -->
    <nav class="hidden laptop:flex space-x-10 items-center">
      <a href="/listview" class="text-darkgrey hover:text-wine">Buketter</a>
      <a href="/livets-begivenheder" class="text-darkgrey hover:text-wine">Livets Begivenheder</a>
      <a href="/butikken" class="text-darkgrey hover:text-wine">Om Os</a>
      <a href="/kontakt" class="text-darkgrey hover:text-wine">Kontakt</a>
      <a href="/click_collect" class="text-darkgrey font-semibold hover:text-wine flex items-center">
        Click & Collect
        <img class="laptop:h-8 ml-2" src="/bag.png" alt="click og collect">
      </a>
    </nav>

    <!-- Mobile Menu Button -->
    <button class="laptop:hidden text-darkgrey focus:outline-none" id="menu-toggle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16m-7 6h7"
        />
      </svg>
    </button>
  </div>

  <!-- Mobile Menu -->
  <nav class="hidden laptop:hidden bg-white border-t border-rose" id="mobile-menu">
    <div class="flex flex-col space-y-4 px-4 py-2">
      <a href="/listview" class="text-darkgrey hover:text-wine">Buketter</a>
      <a href="/livets-begivenheder" class="text-darkgrey hover:text-wine">Livets Begivenheder</a>
      <a href="/butikken" class="text-darkgrey hover:text-wine">Om Os</a>
      <a href="/kontakt" class="text-darkgrey hover:text-wine">Kontakt</a>
    <a href="/click_collect" class="text-darkgrey font-semibold hover:text-wine flex items-center">
        Click & Collect
        <img class="laptop:h-8 mobile:h-4 ml-2" src="/bag.png" alt="click og collect">
      </a>
    </div>
  </nav>
</header>

<script>
  // Toggle the visibility of the mobile menu
  const menuToggle = document.getElementById('menu-toggle');
  const mobileMenu = document.getElementById('mobile-menu');

  menuToggle.addEventListener('click', () => {
    mobileMenu.classList.toggle('hidden');
  });
</script>




