<section class="bg-rose text-white font-montserrat text-center py-16 px-10">
    <h2 class="mobile:text-2xl laptop:text-5xl font-bold mb-8">Hvad gør os unikke?</h2>
   
   <div class="laptop:grid grid-cols-3 gap-24">
    <div class="flex flex-col items-center">
        <img class="mb-4" src="/baredygtighed.png" alt="Bæredygtighed">
        <h3 class="mobile:text-xl font-bold laptop:text-2xl mb-2">Bæredygtighed</h3>
        <p class="text-sm laptop:text-base">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae turpis eget erat malesuada scelerisque. Nullam efficitur, justo id pharetra posuere, libero.</p>
    </div>
    <div class="flex flex-col items-center">
        <img class="mb-4" src="/unikt.png" alt="Unikt udvalg">
        <h3 class="mobile:text-xl font-bold laptop:text-2xl mb-2">Unikt Udvalg</h3>
        <p class="text-sm laptop:text-base">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae turpis eget erat malesuada scelerisque. Nullam efficitur, justo id pharetra posuere, libero.</p>
    </div>
    <div class="flex flex-col items-center">
        <img class="mb-4" src="/kvalitet.png" alt="Kvalitets stempel">
        <h3 class="mobile:text-xl font-bold laptop:text-2xl mb-2">Kvalitet</h3>
        <p class="text-sm laptop:text-base">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae turpis eget erat malesuada scelerisque. Nullam efficitur, justo id pharetra posuere, libero.</p>
    </div>
   </div>
</section>
