<section class="bg-rose text-white font-montserrat text-center py-16 px-10">
    <h2 class="font-lora mobile:text-2xl laptop:text-5xl mb-8">Hvad gør os unikke?</h2>
   
   <div class="laptop:grid grid-cols-3 gap-24">
    <div class="flex flex-col items-center">
        <img class="mb-4" src="/baredygtighed.png" alt="Bæredygtighed">
        <h3 class="mobile:text-xl font-bold laptop:text-2xl mb-2">Bæredygtighed</h3>
        <p class="text-sm laptop:text-base">Vi vælger blomster med omtanke for miljøet og arbejder med sæsonens bedste, lokale leverandører. Smukke buketter, der skåner naturen.</p>
    </div>
    <div class="flex flex-col items-center">
        <img class="mb-4" src="/unikt.png" alt="Unikt udvalg">
        <h3 class="mobile:text-xl font-bold laptop:text-2xl mb-2">Unikt Udvalg</h3>
        <p class="text-sm laptop:text-base">Her finder du buketter, der skiller sig ud. Ingen klassiske roser, kun håndplukkede blomster til dem, der søger noget særligt.</p>
    </div>
    <div class="flex flex-col items-center">
        <img class="mb-4" src="/kvalitet.png" alt="Kvalitets stempel">
        <h3 class="mobile:text-xl font-bold laptop:text-2xl mb-2">Kvalitet</h3>
        <p class="text-sm laptop:text-base">Hvert eneste blad og stilk bliver nøje udvalgt og sammensat med kærlighed. Kvalitet, der holder længere – og gør enhver anledning uforglemmelig.</p>
    </div>
   </div>
</section>
