---
const props = Astro.props;
import Button from "../components/Button.astro"
---

<section class="laptop:grid grid-cols-2 font-montserrat text-white">
    <!-- Billede -->
    <div class="laptop:px-0">
        <img src="/omos.webp" alt="Buket blomster" class="w-full h-auto">
    </div>
    <!-- Tekst -->
    <div class="bg-wine p-4 mobile:p-6 tablet:p-8 laptop:p-16 laptop:pt-28">
        <h2 class="font-lora mobile:text-3xl laptop:text-5xl mb-4">Om Os</h2>
        <p class="mobile:mb-4 laptop:mb-6 mobile:text-sm laptop:text-base">Blomsternes verden er så fuld af muligheder. Alligevel ligner mange af de flotte buketter, vi ser, hinanden. Hos Blomsterbutikken Just får du anderledes og personlige buketter, hvor hver enkelt blomst får lov til at komme til sin ret. Helheden kan være frodig og vild - eller helt enkel og rolig, ligesom ude i naturen.
</p>
        <p class="mobile:mb-4 laptop:mb-6 mobile:text-sm laptop:text-base">Som blomsterdekoratør har jeg en forkærlighed for det skæve og uperfekte. Og i mine øjne kan en smuk buket både være lille og stor.</p>
        <!-- Knap -->
             <a href="/butikken"><Button variant="secondary" size="medium">Læs mere her</Button></a>
    </div>
</section>
