---
const props = Astro.props;
import Button from "../components/Button.astro"
---

<section class="laptop:grid grid-cols-2 font-montserrat text-white">
    <!-- Billede -->
    <div class="laptop:px-0">
        <img src="/omos.webp" alt="Buket blomster" class="w-full h-auto">
    </div>
    <!-- Tekst -->
    <div class="bg-wine mobile:py-6 laptop:pt-32 mobile:px-4 laptop:px-16">
        <h2 class="font-lora mobile:text-2xl laptop:text-5xl mb-4">Om Os</h2>
        <p class="mobile:mb-4 laptop:mb-6">Træd ind i en verden af farver, dufte og kreativitet. Just Blomsterbutik
      er din lokale blomsterhandel på Amager, hvor kærligheden til blomster
      møder en passion for at skabe noget unikt. Hos os finder du ikke bare
      blomster, men en oplevelse, der løfter enhver dag.</p>
        <p class="mobile:mb-4 laptop:mb-6">Som blomsterdekoratør har jeg en forkærlighed for det skæve og uperfekte. Og i mine øjne kan en smuk buket både være lille og stor.</p>
        <!-- Knap -->
             <a href="/singleview"><Button variant="secondary" size="large">LÆS MERE OM BUTIKKEN HER</Button></a>
    </div>
</section>
