<section class="laptop:grid grid-cols-2 font-montserrat bg-gradient-to-r from-rose to-white">
    <!-- Billede -->
    <div class="laptop:px-0 flex items-center justify-end">
        <img src="/some.png" alt="Mobil skærm af some på tlf">
    </div>
    <!-- Tekst -->
    <div class="mobile:py-6 laptop:pt-32 mobile:px-4 laptop:px-16">
        <h2 class="text-wine mobile:text-2xl laptop:text-5xl font-bold mb-4">Følg os på <br> Sociale Medier</h2>
        <p class="mobile:mb-4 laptop:mb-6">Blomsternes verden er så fuld af muligheder. Alligevel ligner mange af de flotte buketter, vi ser, hinanden. Hos Blomsterbutikken Just får du anderledes og personlige buketter, hvor hver enkelt blomst får lov til at komme til sin ret. Helheden kan være frodig og vild - eller helt enkel og rolig, ligesom ude i naturen.</p>
        <p class="mobile:mb-4 laptop:mb-6">Som blomsterdekoratør har jeg en forkærlighed for det skæve og uperfekte. Og i mine øjne kan en smuk buket både være lille og stor.</p>
        <!-- Knap -->
        <button class="bg-darkgrey text-white py-2 px-4 rounded font-bold mt-4 hover:bg-darkgrey">Følg os på Facebook</button>
        <button class="bg-darkgrey text-white py-2 px-4 rounded font-bold mt-4 hover:bg-darkgrey">Følg os på Instagram</button>
    </div>
</section>
